
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/* # tag is used to target id in the html page*/

h2#blue-heading{
	color: blue;
}
/* . is used to target class in the html page*/
.green-heading{
	color: greenyellow;
}

/* we should name the class or id name conventiently any time things gets change in 
future */
.primary-heading{
	color: hotpink;
}
/* Now targeting the divs */ 
#welcome{
	background-color: khaki;
}
#about{
	background-color: lightblue;
}
#our-products{
	background-color: lightsalmon;
}
#welcome,#about{
	
	padding: 5px;
	margin-bottom: 5px;
	font-family: 'Nerko One', cursive;

}
.box-1{
	color: lightskyblue;
	border-width: 2px;
	border-color: red;
	border-style: dotted;
}
#box-1{
	background-color: lightseagreen;
	border-width: 3px;
	border-color: red;
	border-style: solid;
}
.box-2{
	border: 3px red solid;
	background-image: url('./leaf.jpg');
}
#welcome,#about,#our-products,#box-1,#box-2,#box-3{
	padding: 10px 20px;
	margin: 10px 20px;
}


