.box{
	width: 200px;
	height: 200px;
	
}
.container{
	position: relative;
	background-color: #333;
	width: 500px;
	height: 500px;
}
#box-1{
	position: relative;/* if we dont use relative top and left property wont work*/
	top: 50px;
	left: 50px;
	z-index: 1;
	background-color: red;
}
#box-2{
	position: absolute;
	bottom: 100px;
	right: 100px;
	background-color:yellow;
}
#box-3{
	position: absolute;
	top: 100px;
	left: 100px;
	background-color: green;
}
#box-4{
	position: sticky;
	top: 0;
	background-color: blue;
}
#box-5{
	background-color: orange;
}